.exit_icon
{
    position: absolute;
    top:0;
    right: 0;
    width: 200px;
}
.exit_icon a{
    position: absolute;
    z-index:2;
    text-decoration: none;
    background: rgba(150, 200, 250, 0.5);
    width: 160px;
    margin-top: 0;
    margin-bottom: 0;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-align: center;
    font-family: 幼圆;
    font-size: 24px;
    font-weight: bolder;
}
.subheading
{
    position: absolute;
    top:15%;
    left: 10%;
}
.subheading_icon
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
}
.subheading_icon p{
    position: absolute;
    z-index:2;
    background: rgba(150, 200, 250, 0.5);
    width: 160px;
    margin-top: 0;
    margin-bottom: 0;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    text-align: center;
    font-family: 幼圆;
    font-size: 22px;
    font-weight: bold;
}
.text_icon
{
    position: absolute;
    top:10%;
    left: 25%;
}